In [1]:
import pandas as pd

In [2]:
cd C:\Users\Administrator\Desktop\ML assignment

C:\Users\Administrator\Desktop\ML assignment

In [3]:
birthwt_actual = pd.read_csv("birthwt_actual.csv")
birthwt_test = pd.read_csv("birthwt_test.csv")
birthwt_train = pd.read_csv("birthwt_train.csv")

In [4]:
birthwt_train.head()

   low  age  lwt  race  smoke  ptl  ht  ui  ftv
0    0   22  120     1      0    0   1   0    1
1    0   22  158     2      0    1   0   0    2
2    0   22  169     1      0    0   0   0    0
3    1   31  102     1      1    1   0   0    1
4    0   27  124     1      1    0   0   0    0

In [5]:
x = birthwt_train.drop(["low"],axis = 1 )
y = birthwt_train["low"].values

In [6]:
birthwt_test_update = birthwt_test.drop(["id"] , axis=1)
birthwt_test_update.head()

   age  lwt  race  smoke  ptl  ht  ui  ftv
0   33  155     3      0    0   0   0    3
1   22  118     1      0    0   0   0    1
2   29  123     1      1    0   0   0    1
3   18  100     1      1    0   0   0    0
4   20  120     3      0    0   0   1    0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
# x_train,x_test,y_train,y_test = train_test_split( x , y , test_size = 0.2 , random_state = 0)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
LR = LogisticRegression()
LR.fit(x,y)

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
LR.predict(birthwt_test_update)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [12]:
birthwt_actual_update = birthwt_actual.drop(['id'],axis = 1)
birthwt_actual_update.head()

   low
0    0
1    0
2    0
3    0
4    0

In [13]:
LR.score(birthwt_test_update,birthwt_actual_update)

0.6842105263157895

In [14]:
birthwt_test.head()

   id  age  lwt  race  smoke  ptl  ht  ui  ftv
0   1   33  155     3      0    0   0   0    3
1   2   22  118     1      0    0   0   0    1
2   3   29  123     1      1    0   0   0    1
3   4   18  100     1      1    0   0   0    0
4   5   20  120     3      0    0   0   1    0

In [15]:
birthwt_train.head()

   low  age  lwt  race  smoke  ptl  ht  ui  ftv
0    0   22  120     1      0    0   1   0    1
1    0   22  158     2      0    1   0   0    2
2    0   22  169     1      0    0   0   0    0
3    1   31  102     1      1    1   0   0    1
4    0   27  124     1      1    0   0   0    0

In [16]:
dummies_train = pd.get_dummies(birthwt_train["race"])
dummies_train.head()

   1  2  3
0  1  0  0
1  0  1  0
2  1  0  0
3  1  0  0
4  1  0  0

In [17]:
birthwt_train = birthwt_train.drop(["race"] , axis = 1)

In [18]:
train = birthwt_train.join(dummies_train)
train.head()

   low  age  lwt  smoke  ptl  ht  ui  ftv  1  2  3
0    0   22  120      0    0   1   0    1  1  0  0
1    0   22  158      0    1   0   0    2  0  1  0
2    0   22  169      0    0   0   0    0  1  0  0
3    1   31  102      1    1   0   0    1  1  0  0
4    0   27  124      1    0   0   0    0  1  0  0

In [19]:
dummies_test = pd.get_dummies(birthwt_test["race"])
dummies_test.head()

   1  2  3
0  0  0  1
1  1  0  0
2  1  0  0
3  1  0  0
4  0  0  1

In [20]:
birthwt_test = birthwt_test.drop(["race"] ,axis= 1)
birthwt_test.head()

   id  age  lwt  smoke  ptl  ht  ui  ftv
0   1   33  155      0    0   0   0    3
1   2   22  118      0    0   0   0    1
2   3   29  123      1    0   0   0    1
3   4   18  100      1    0   0   0    0
4   5   20  120      0    0   0   1    0

In [21]:
test = birthwt_test.join(dummies_test)
test = test.drop(["id"],axis = 1)

In [22]:
x1 = train.drop(["low"] , axis = 1)
y1 = train["low"].values

In [23]:
LR.fit(x1,y1)

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
LR.predict(test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1], dtype=int64)

In [25]:
LR.score(test , birthwt_actual_update )

0.7368421052631579

In [26]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [35]:
abc = AdaBoostClassifier(n_estimators=10,
                         learning_rate=1)
# Train Adaboost Classifer
abc.fit(x1,y1)

#Predict the response for test dataset
pred=model.predict(test)

In [34]:
abc.score(test , birthwt_actual_update)

0.7631578947368421

In [36]:
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1], dtype=int64)